services:
  # -------------------------
  # Database (Postgres 17)
  # -------------------------
  postgres:
    image: postgres:17-alpine
    container_name: concert_bookings_postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # -------------------------
  # Cache (Redis)
  # -------------------------
  redis:
    image: redis:7-alpine
    container_name: concert_bookings_redis
    ports:
      - "6379:6379"
    # Use a command to persist data to disk every 60 seconds if at least 1 key changed
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  # -------------------------
  # Backend (Node API)
  # -------------------------
# -------------------------
  # Backend (Node API)
  # -------------------------
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: concert_bookings_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=postgres
      - CACHE_HOST=redis
      - PORT=8000
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data: