@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-900 antialiased min-h-screen;
}

@keyframes flash {
  0% {
    background-color: rgb(254, 249, 195); /* yellow-100 */
  }
  100% {
    background-color: rgb(249, 250, 251); /* gray-50 */
  }
}

.animate-flash {
  animation: flash 1s ease-out;
}
